.btn {
  @include side-indents;
  display: block;

  padding-top: 13px;
  padding-bottom: 11px;

  font-family: $main-font;
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  color: $btn-text;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;

  background-color: $main-color;
  border: none;

  &--promo {
    width: 280px;
    margin: 0 auto;
    margin-bottom: 15px;
  }

  &--more {
    color: $text-color;
    background-color: $bg-color;
  }

  &--form {
    width: 100%;
    margin: 15px auto;
  }
}

@media (min-width: $tablet-width) {
  .btn--promo {
    margin: 0;
    margin-top: 30px;
  }

  .btn--form {
    width: 280px;
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .btn--other {
    width: 245px;
  }


}
