.copyright {
  position: relative;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
  border-top: 1px solid $logo-border;
}

.copyright:visited {
  color: inherit;
}

.copyright::after {
  content: "";
  position: absolute;
  right: -6px;
  top: 19px;
  display: block;
  width: 40px;
  height: 40px;
  background: url("../img/htmlacademy.svg") center no-repeat;
}

/*Планшет и десктоп*/
@media (min-width: $tablet-width) {
  .copyright {
    padding-bottom: 0;
    padding-top: 0;
    padding-right: 50px;
    border: none;
  }

  .copyright::after {
    top: -14px;
  }
}
