.gift {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 160px;
  padding-bottom: 30px;
  background: $promo-bg url("../img/gift-photo-mobile@1x.jpg") center no-repeat;
}

.gift__text {
  @include text;
  font-size: 16px;
  line-height: 20px;
  color: $title-color;
  text-align: center;
}

@media (min-width: $tablet-width) and (max-width: $desktop-width) {
  .gift {
    padding: 10px;
    margin: 0;
    min-height: 200px;
    display: flex;
    justify-content: flex-end;
    background: url("../img/gift-photo-tablet@1x.jpg") center no-repeat;
    background-size: cover;
  }

  .gift__text {
    width: 150px;
    text-align: left;
    margin-top: 70px;
    margin-right: 120px;
  }
}

@media (min-width: $desktop-width) {
  .gift {
    width: 245px;
    margin-left: auto;
    padding-top: 135px;
  }
}
