@media (max-width: $tablet-width) {
  .menu {
    @include visually-hidden;
  }
}

.menu__list {
  @include list;
  text-align: center;
}

.menu__item {
  @include side-indents;
  padding-top: 23px;
  padding-bottom: 23px;
  border-bottom: 1px solid $bg-color;
}

.menu__item:first-child {
  border-top: 1px solid $bg-color;
}

.menu__item:last-child {
  border-bottom: none;
}

.menu__link {
  font-family: $main-font;
  font-size: 20px;
  line-height: 20px;
  font-weight: bold;
  color: $menu-color;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
}

/*Планшет*/
@media (min-width: $tablet-width) {
  .menu__list {
    display: flex;
    flex-direction: row;
  }

  .menu__item,
  .menu__item:first-child {
    border: none;
  }

  .menu__link {
    font-family: $main-font;
    font-size: 18px;
    line-height: 24px;
    font-weight: normal;
    color: $names-color;
    text-transform: uppercase;
    text-decoration: none;

    &--current {
    border-bottom: 2px solid $main-color;
    }
  }
}

/*Десктоп*/
@media (min-width: $desktop-width) {
  .menu__link {
    font-size: 20px;
    color: $title-color;

  &--current {
    border-bottom: 2px solid $title-color;
    }
  }
}
