.page-header {
  @include side-indents;
  display: flex;
  flex-direction: column;
  padding-top: 11px;
  padding-bottom: 14px;
}

.page-header__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/*Планшет*/
@media (min-width: $tablet-width) {
  .page-header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-right: 10px;
    padding-bottom: 0;
    padding-left: 10px;
  }
}

/*Десктоп*/
@media (min-width: $desktop-width) {
  .page-header {
    padding-left: 110px;
    padding-right: 90px;
    padding-top: 50px;
  }
}
