.page-footer {
  display: flex;
  flex-direction: column;
  background-color: $bg-color;
}

.page-footer__info {
  @include side-indents;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding-top: 29px;
}

/*Планшет*/
@media (min-width: $tablet-width) {
  .page-footer__info {
    @include tablet-indents;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 56px;
    padding-bottom: 60px;
  }
}


/*Десктоп*/
@media (min-width: $desktop-width) {
  .page-footer {
    @include desktop-indents;
    position: relative;
    margin-top: 30px;
  }
}
