.product {
  padding-bottom: 25px;
}

.product__title {
  margin: 0;
  @include subtitle;
}

.product__name {
  text-decoration: none;
}

.product__info {
  @include text;
  font-size: 12px;
  line-height: 16px;
  border-collapse: collapse;
}
