.promo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  min-height: 500px;
  padding-top: 28px;

  font-family: $main-font;
  color: $title-color;
  text-align: center;

  background: $promo-bg url("../img/index-background-mobile@1x.jpg") center top no-repeat;
}

.promo__text {
  padding-right: 30px;
  padding-left: 30px;
}

.promo__slogan {
  margin: 0 auto;

  font-size: 14px;
  line-height: 14px;
  font-weight: normal;
  text-transform: uppercase;
}

.promo__wrapper {
  background: $bg-usual;
  padding-top: 138px;
}
