.promo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 498px;
  padding-top: 28px;
  font-family: $main-font;
  color: $title-color;
  text-align: center;
  background: $promo-bg url("../img/index-background-mobile@1x.jpg") center top no-repeat;
}

.promo__text {
  padding-right: 30px;
  padding-left: 30px;
}

.promo__slogan {
  margin: 0 auto;
  font-size: 14px;
  line-height: 15px;
  font-weight: normal;
  text-transform: uppercase;
}

.promo__wrapper {
  position: relative;
  padding-top: 134px;
  background: $bg-usual;
}

.promo__wrapper::before {
  content: "";
  position: absolute;
  top: -139px;
  display: block;
  width: 100%;
  height: 270px;
  background: url("../img/index-can-mobile@1x.png") center no-repeat;
}

/*Планшет*/
@media (min-width: $tablet-width) {
  .promo {
    justify-content: flex-start;
    min-height: 850px;
    padding-left: 117px;
    padding-right: 117px;
    background: none;
  }

  .promo__slogan {
    font-size: 20px;
    line-height: 20px;
  }

  .promo__text {
    width: 500px;
    padding-right: 0;
    padding-left: 0;
    color: $subtitle-color;
    text-align: left;
  }

  .promo__wrapper {
    padding: 0;
    background: none;
  }

  .promo__wrapper::before {
    content: "";
    position: absolute;
    top: -25px;
    left: -58px;
    display: block;
    width: 650px;
    height: 700px;
    background: url("../img/index-can-tablet@1x.jpg") center no-repeat;
    z-index: -1;
  }
}

/*Десктоп*/
@media (min-width: $desktop-width) {
  .promo {
    padding-right: 190px;
    padding-left: 190px;
    padding-top: 78px;
    position: relative;
    min-height: 580px;
  }

  .promo::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 6px;
    display: block;
    width: 50%;
    height: 146%;
    background: $promo-bg url("../img/index-background-desktop@1x.jpg") right bottom no-repeat;
    z-index: -2;
  }

  .promo__wrapper::before {
    background: url("../img/index-can-desktop@1x.png") center no-repeat;
    top: -361px;
    left: 50%;
    margin-left: -210px;
  }
}
