.result {
  @include side-indents;
  background-color: $bg-color;
}

.result__title {
  margin: 0;
  font-family: $main-font;
  font-size: 36px;
  line-height: 60px;
  font-weight: normal;
  color: $subtitle-color;
}

.result__story {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  color: $text-color;
}

.result__value {
  font-family: $main-font;
  font-size: 24px;
  line-height: 24px;
  font-weight: normal;
  color: $subtitle-color;
  text-transform: uppercase;
}

.result__criterion {
  @include text;
  font-size: 12px;
  line-height: 12px;
  text-transform: lowercase;
}

.result__price {
  margin-top: 25px;
  text-align: center;
  font-family: $main-font;
  font-size: 14px;
  line-height: 20px;
  font-weight: normal;
  color: $subtitle-color;
  text-transform: uppercase;
}

.result__mode {
  @include subtitle;
}

.result__info {
  display: flex;
  justify-content: space-between;
}

.result__value {
  position: relative;
  min-width: 120px;
  text-align: center;
  padding-top: 18px;
  padding-right: 25px;
  padding-bottom: 18px;
  padding-left: 25px;
  border: 1px solid $table-border;
}

.result__criterion {
  position: absolute;
  width: 65px;
  text-align: center;
  left: 50%;
  margin-left: -30px;
  bottom: -16px;
  background-color: $bg-color;
}

.result__slider {
  display: flex;
  flex-direction: column;
  align-items: center;

}
