.result {
  @include side-indents;
  padding-top: 17px;
  background-color: $bg-color;
}

.result__title {
  margin: 0;
  font-family: $main-font;
  font-size: 36px;
  line-height: 60px;
  font-weight: normal;
  color: $subtitle-color;
}

.result__story {
  margin-top: 22px;
  margin-bottom: 26px;
  padding-right: 10px;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  color: $text-color;
}

.result__value {
  position: relative;
  width: 124px;
  text-align: center;
  padding-top: 14px;
  padding-right: 20px;
  padding-bottom: 16px;
  padding-left: 20px;
  font-family: $main-font;
  font-size: 24px;
  line-height: 24px;
  font-weight: normal;
  color: $subtitle-color;
  text-transform: uppercase;
  border: 1px solid $table-border;
}

.result__criterion {
  @include text;
  position: absolute;
  width: 80px;
  text-align: center;
  left: 50%;
  margin-left: -40px;
  bottom: -16px;
  font-size: 12px;
  line-height: 12px;
  text-transform: lowercase;
  background-color: $bg-color;
}

.result__price {
  margin-top: 34px;
  margin-bottom: 34px;
  text-align: center;
  font-family: $main-font;
  font-size: 14px;
  line-height: 20px;
  font-weight: normal;
  color: $subtitle-color;
  text-transform: uppercase;
}

.result__mode {
  @include subtitle;
}

.result__info {
  display: flex;
  justify-content: space-between;
}

.result__slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 34px;
}

.result__wrapper {
  margin-bottom: 29px;
}

.result__switch {
  min-width: 200px;
  margin: 0 auto;
  text-align: center;
}

.result__mode {
  display: inline-block;
  vertical-align: middle;
  width: 40px;
}

.result__label {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 84px;
  height: 14px;
  margin-left: 14px;
  margin-right: 13px;
  background: $bg-usual;
  border: 1px solid $table-border;
  border-radius: 8px;
}

.result__label:after {
  content: "";
  position: absolute;
  top: 3px;
  left: 0;
  margin-left: 5px;
  display: block;
  width: 35px;
  height: 6px;
  background: $main-color;
  border-radius: 8px;
  transition: 0.2s;
}

.result__toggle {
  display: none;
}

.result__toggle:checked ~ .result__label:after {
  left: 100%;
  margin-left: -40px;
  transition: 0.2s;
}

@media (min-width: $tablet-width) {
  .result {
    padding-left: 0;
    padding-top: 43px;
    padding-right: 0;
    background-color: $bg-usual;
  }

  .result__title {
    @include tablet-indents;
    margin-bottom: 65px;
    font-size: 60px;
    line-height: 60px;
  }

  .result__content {
    @include tablet-indents;
  }

  .result__story {
    margin-bottom: 31px;
    font-size: 16px;
    line-height: 24px;
  }

  .result__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
  }

  .result__value:first-child {
    margin-right: 42px;
  }

  .result__value {
    width: 162px;
    padding-bottom: 19px;
    font-size: 30px;
    line-height: 37px;
  }

  .result__criterion {
    width: 140px;
    margin-left: -70px;
    bottom: -6px;
    font-size: 14px;
    line-height: 14px;
    background-color: $bg-usual;
  }

  .result__price {
    width: 180px;
    margin-top: 32px;
    text-align: right;
    font-size: 20px;
    line-height: 20px;
  }

  .result__sum {
    display: block;
    margin-top: 10px;
  }

  .result__slider {
    margin-top: 232px;
    padding-bottom: 67px;
    background-color: $bg-color;
  }

  .result__wrapper {
    position: relative;
    width: 601px;
    height: 469px;
    margin-top: -100px;
    margin-bottom: 0;
  }

  .result__wrapper:before {
    content: "";
    position: absolute;
    left: -38px;
    top: -62px;
    display: block;
    width: 338px;
    height: 502px;
    background: url("../img/before-tablet@1x.png") left no-repeat;
  }

  .result__wrapper:after {
    content: "";
    position: absolute;
    right: -50px;
    top: -69px;
    display: block;
    width: 351px;
    height: 517px;
    background: url("../img/after-tablet@1x.png") right no-repeat;
  }

  .result__picture {
    display: none;
  }

  .result__mode {
    width: auto;
    padding-bottom: 5px;
    font-size: 20px;
    line-height: 20px;
    border-bottom: 1px dotted $mode-border;
  }
}

@media (min-width: $desktop-width) {
  .result {
    @include desktop-indents;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .result__title {
    width: 100%;
    margin-bottom: 30px;
  }

  .result__content {
    width: 400px;
    background-color: $bg-color;
    padding-top: 50px;
    padding-left: 50px;
  }

  .result__slider {
    flex-grow: 1;
    margin-top: 0;
  }

  .result__story {
    margin-bottom: 50px;
  }

  .result__criterion {
    background-color: $bg-color;
  }

  .result__container {
    display: flex;
    flex-direction: column;
  }

  .result__info {
    width: 100%;
  }

  .result__price {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-right: 40px;
  }
}
