.result {
  @include side-indents;
  padding-top: 17px;
  background-color: $bg-color;
}

.result__title {
  margin: 0;
  font-family: $main-font;
  font-size: 36px;
  line-height: 60px;
  font-weight: normal;
  color: $subtitle-color;
}

.result__story {
  margin-top: 22px;
  margin-bottom: 26px;
  padding-right: 10px;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  color: $text-color;
}

.result__value {
  position: relative;
  width: 124px;
  text-align: center;
  padding-top: 14px;
  padding-right: 20px;
  padding-bottom: 16px;
  padding-left: 20px;
  font-family: $main-font;
  font-size: 24px;
  line-height: 24px;
  font-weight: normal;
  color: $subtitle-color;
  text-transform: uppercase;
  border: 1px solid $table-border;
}

.result__criterion {
  @include text;
  position: absolute;
  width: 80px;
  text-align: center;
  left: 50%;
  margin-left: -40px;
  bottom: -16px;
  font-size: 12px;
  line-height: 12px;
  text-transform: lowercase;
  background-color: $bg-color;
}

.result__price {
  margin-top: 34px;
  margin-bottom: 34px;
  text-align: center;
  font-family: $main-font;
  font-size: 14px;
  line-height: 20px;
  font-weight: normal;
  color: $subtitle-color;
  text-transform: uppercase;
}

.result__mode {
  @include subtitle;
}

.result__info {
  display: flex;
  justify-content: space-between;
}

.result__slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 34px;
}

.result__wrapper {
  margin-bottom: 29px;
}


@media (min-width: $tablet-width) {
  .result {
    background-color: $bg-usual;
  }

  .result__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
  }

  .result__value:first-child {
    margin-right: 40px;
  }

  .result__value {
    width: 130px;
  }

  .result__criterion {
    width: 120px;
    margin-left: -60px;
    bottom: -5px;
    background-color: $bg-usual;
  }

  .result__price {
    width: 130px;
    text-align: right;
  }

  .result__slider {
    margin-top: 120px;
    padding-bottom: 20px;
    background-color: $bg-color;
  }

  .result__wrapper {
    margin-top: -100px;
  }
}

@media (min-width: $desktop-width) {
  .result {
    @include desktop-indents;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .result__title {
    width: 100%;
    margin-bottom: 30px;
  }

  .result__content {
    width: 400px;
    background-color: $bg-color;
    padding-top: 50px;
    padding-left: 50px;
  }

  .result__slider {
    flex-grow: 1;
    margin-top: 0;
  }

  .result__story {
    margin-bottom: 50px;
  }

  .result__criterion {
    background-color: $bg-color;
  }

  .result__container {
    display: flex;
    flex-direction: column;
  }

  .result__info {
    width: 100%;
  }

  .result__price {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-right: 40px;
  }
}
