.socials {
  @include list;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid $logo-border;
}

.socials__item {
  background: $temp;
  width: 30px;
  height: 30px;
  margin-right: 15px;
}

.socials__item:last-child {
  margin-right: 0;
}

/*Планшет и десктоп*/
@media (min-width: $tablet-width) {
  .socials {
    padding-bottom: 0;
    padding-top: 0;
    border-bottom: none;
  }
}
