.socials {
  @include list;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 133px;
  margin: 0 auto;
  padding-top: 21px;
  padding-bottom: 20px;
}

.socials__item {
  width: 25px;
}

.socials__item:last-child {
  margin-right: 0;
}

.socials__btn {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

/*Планшет и десктоп*/
@media (min-width: $tablet-width) {
  .socials {
    padding-bottom: 0;
    padding-top: 0;
    border-bottom: none;
  }

  .socials__item {
    width: 25px;
  }
}
