.title {
  margin-top: 0;
  font-family: $main-font;
  font-size: 36px;
  font-weight: normal;
  line-height: 36px;
  color: $title-color;
}

.title--catalog {
  @include side-indents;
  line-height: 60px;
  color: $subtitle-color;
  border-top: 1px solid #e6e6e6;
  margin-bottom: 10px;
}

.title--form {
  line-height: 60px;
  color: $subtitle-color;
}


@media (min-width: $tablet-width) {
  .title--catalog {
    border: none;
  }
}
