.title {
  margin-top: 0;
  font-family: $main-font;
  font-size: 36px;
  font-weight: normal;
  line-height: 36px;
  color: $title-color;

  &--catalog {
  @include side-indents;
  line-height: 60px;
  color: $subtitle-color;
  border-top: 1px solid $product-border;
  margin-bottom: 10px;
  }

  &--form {
  line-height: 60px;
  color: $subtitle-color;
  }
}

@media (min-width: $tablet-width) {
  .title--catalog {
    border: none;
  }

  .title--promo {
    font-size: 60px;
    line-height: 60px;
    color: $subtitle-color;
    }
}

@media (min-width: $desktop-width) {
  .title--catalog {
    padding-left: 55px;
  }
}
